body{
    margin:0;
    padding:0;
    background-color: rgb(202, 240, 237);
    color: rgb(2, 75, 75);
    
}


.top-header{
    background-color: rgb(25, 178, 173);
    width:100%;
    height:50px;
    display: flex;
    flex-direction: row-reverse;
    flex:end;
    
}


.top-header h5 {
    padding:0 10px;
    color: rgb(2, 75, 75);   
}

.main-navbar{
    display: flex;
    width: 100%;
    height: 80px;
    background-color: hsl(172, 78%, 43%); 
    align-items: center;
    justify-content: space-around;
    
}

.navbar-dropdown{
    text-align: center;
    
}
.navbar-icons{
    position: relative;
    display: inline-block;
    padding: 15px;;
}

.dropbtn {
    background-color: hsl(172, 78%, 43%);
    color: rgb(2, 75, 75);
    padding: 16px;
    font-size: 16px;
    border: none;
    cursor: pointer;
    list-style:  none;
  }

  .dropbtn a{
    text-decoration: none;
    color:rgb(2, 75, 75);
  }

  .dropdown-menu{
    display: none;
    position: absolute;
    background-color: rgb(89, 216, 216);
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
  }
  .dropdown-menu a{
    color: rgb(2, 75, 75);
    padding: 12px 16px;
    text-decoration: none;
    display: block;
  }
  .dropdown-menu a:hover {background-color: #f1f1f1}

  .navbar-icons:hover .dropdown-menu {
    display: block;
  }

  
.navbar-icons:hover .dropbtn {
    background-color:rgb(9, 102, 102);
  }
  .navbar-search{
      display: inline;
      flex-direction: row-reverse;
      
  }

  .logOutbtn{
    background-color: hsl(172, 78%, 43%); 
    border: 0;
  }